<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439416439525-2snqe067cs0hof9oio1q38uuhh8sna5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439416439525-2snqe067cs0hof9oio1q38uuhh8sna5c</string>
	<key>API_KEY</key>
	<string>AIzaSyDcS7IcbvEJBmwMV0gFRaGCeUrCJDNFC2k</string>
	<key>GCM_SENDER_ID</key>
	<string>439416439525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.burrow.app</string>
	<key>PROJECT_ID</key>
	<string>burrows-ng</string>
	<key>STORAGE_BUCKET</key>
	<string>burrows-ng.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439416439525:ios:f2fed12e07a97e091d4a0c</string>
</dict>
</plist>